:root {
  --color-primary: #2261a5;
  --color-accent: #d72638;
  --color-light: #ffffff;
  --color-text-primary: #000000;
  --color-text-secondary: #757575;
  --color-divider: #bdbdbd;
}

* {
  margin: 0;
  box-sizing: border-box;
}
button {
  all: unset;
}
button.button-primary,
button.button-accent {
  padding: 10px 20px;
}
button.button-primary {
  background-color: var(--color-primary);
}
button.button-accent {
  background-color: var(--color-accent);
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h1 {
  font-size: 40px;
  margin-bottom: 15px;
}
h2 {
  font-size: 24px;
  margin-bottom: 15px;
}
h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
}
p,
li {
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  ul {
    padding-left: 10px;
  }
}
section {
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  section {
    margin-bottom: 30px;
  }
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* ////////////////////////////////////////////////////////////////////////////////////
HEADER
/////////////////////////////////////////////////////////////////////////////////////*/
header {
  background-color: var(--color-primary);
  padding: 10px 20px;
}
header nav a,
header h3 {
  color: var(--color-light);
}
header nav a {
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-primary);
}
header nav ul {
  list-style-type: none;
  display: flex;
}
header nav ul li {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}
header nav ul li.current-page a {
  border-bottom: 1px solid var(--color-light);
}

header .hamburger-button,
header nav.mobile-nav,
header .mobile-nav-wrapper {
  display: none;
}
body > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body > header > a {
  margin: 0;
  color: var(--color-light);
  text-decoration: none;
}
body > header > a,
.hamburger-button {
  padding: 10px 20px;
}

@media screen and (max-width: 768px) {
  body > header {
    align-items: unset;
  }
  header .hamburger-button,
  header .mobile-nav-wrapper,
  header nav.mobile-nav.show,
  header nav.mobile-nav ul {
    display: block;
  }
  header nav.desktop-nav {
    display: none;
  }
  header .hamburger-button-wrapper {
    display: flex;
    justify-content: flex-end;
  }
}

/* ////////////////////////////////////////////////////////////////////////////////////
HOME - HERO
/////////////////////////////////////////////////////////////////////////////////////*/
.home.hero {
  width: 100%;
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.85)),
    url("/mecapsam.jpeg");
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .home.hero {
    background-position: right;
  }
}
.home.hero button {
  margin-top: 20px;
}
.home.hero button a {
  text-decoration: none;
  color: var(--color-light);
}
/* ////////////////////////////////////////////////////////////////////////////////////
HOME - Dates
/////////////////////////////////////////////////////////////////////////////////////*/
section.events {
  padding: 60px;
}
section.events .event {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid var(--color-divider);
}
section.events .event.headings {
  font-weight: bold;
}
section.events .event p a {
  text-decoration: none;
  color: var(--color-text-primary);
}
section.events .event p a:hover {
  text-decoration: underline;
}
